.header{
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;
    border-bottom: solid 1px #eaeaea;
}