:host {
    display: block;
    position: relative;
}

.users-type button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    background-color: transparent;
    border: 0
}

.users-type input {
    width: 100%;
    padding: .5rem;
    border: 0;
    height: 25px;
}